page-home {

  .indexed-menu{
    width: 20px;
    text-align: center;
    float: right;
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 104;
    .indexed-item{
      transition: all .3s ease-out;
      margin:1px 0;
      color: #999;
      &.activate{
        transform: scale(1.5);
        color: #000;
      }
    }
  }

  .content-ios{
    .indexed-menu{
      top: 50px;
    }
  }



}
